<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Média
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- ngMode ---- para vincular com a parte do TypeScript -->
  <ion-item>
    <ion-input label="Primeira nota" labelPlacement="floating" placeholder="Valor" type="number"
      [(ngModel)]="n1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Segunda nota" labelPlacement="floating" placeholder="Valor" type="number"
      [(ngModel)]="n2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Terceira nota" labelPlacement="floating" placeholder="Valor" type="number"
      [(ngModel)]="n3"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Quarta nota" labelPlacement="floating" placeholder="Valor" type="number"
      [(ngModel)]="n4"></ion-input>
  </ion-item>

  <ion-button (click)="cl()" size="small">Verificar</ion-button>

  <!-- label- permite o usuario ver dados mas sem interação nenhuma -->
  <ion-label>{{res}}</ion-label>
</ion-content>


